<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='stylesheets/index.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <video autoplay playsinline id="video"></video>
  </body>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

  <!-- js -->
  <script src="javascripts/index.js"></script>

  <!-- adapter.js -->
  <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
</html>
